<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <system.serviceModel>
    <services>
      <service name="EBRExample.EBRWebService" behaviorConfiguration="EBRWebServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9881/BarcodeAdapterService"/>
          </baseAddresses>
        </host>
        <endpoint binding="basicHttpBinding" bindingConfiguration="EBRWebServiceBindingConfig" contract="Siplace.ExternalBarcodeReader.Contract.Service.IEBR"/>
      </service>
    </services>
    <client>
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="EBRWebServiceBindingConfig" contract="Siplace.ExternalBarcodeReader.Contract.Service.IEBRReceive" name="IEBRReceive client"/>
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="EBRWebServiceBindingConfig" bypassProxyOnLocal="true">
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="EBRWebServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceThrottling maxConcurrentCalls="50"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
