<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <!--Usage of security -->
      <endpointBehaviors>
        <behavior name="ConfigurationManagerSecurityBehavior">
          <clientCredentials>
            <serviceCertificate>
              <authentication revocationMode="NoCheck"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <!-- Configuration manager endpoint used by the application of this tutorial  -->
      <endpoint address="http://localhost:1405/Asm.As.Oib.ConfigurationManager/ReliableSecure" binding="wsHttpBinding" behaviorConfiguration="ConfigurationManagerSecurityBehavior" bindingConfiguration="WSHttpBinding_all" contract="www.siplace.com.OIB._2008._05.ConfigurationManager.Contracts.Service.IConfigurationManager" name="WSHttpBinding_IConfigurationManager">
        <!--Usage of security to specify the identity of the service -->
        <identity>
          <dns value="ASM.SW.Service"/>
        </identity>
      </endpoint>
    </client>
    <bindings>
      <!-- Http binding used by the configuration manager endpoint -->
      <wsHttpBinding>
        <binding name="WSHttpBinding_all" closeTimeout="00:00:10" openTimeout="00:00:10" sendTimeout="00:10:00" bypassProxyOnLocal="true" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="false" allowCookies="false">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <reliableSession ordered="true" enabled="true"/>
          <!--Usage of message security -->
          <security mode="Message">
            <!-- Without client credentials, please comment when using Client Authentication -->
            <!--
            <message clientCredentialType="None" />
            -->
            <!-- IMPORTANT: With client credentials, necessary for Client Authentication, please uncomment when using it -->
            <!--
            <message clientCredentialType="Certificate" />
            -->
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
