<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MaintenanceData.Tutorial.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="MaintenanceDataTestApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <MaintenanceData.Tutorial.UserSettings>
      <setting name="LastCallbackUri" serializeAs="String">
        <value/>
      </setting>
      <setting name="LastSubscriptionID" serializeAs="String">
        <value/>
      </setting>
    </MaintenanceData.Tutorial.UserSettings>
    <MaintenanceDataTestApp.Properties.Settings>
      <setting name="LastCallbackUri" serializeAs="String">
        <value/>
      </setting>
      <setting name="LastSubscriptionId" serializeAs="String">
        <value/>
      </setting>
    </MaintenanceDataTestApp.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key="Asm.As.Oib.Monitoring.Service.MonitoringEndpoint" value="net.tcp://localhost:1406/Asm.As.Oib.Monitoring.Services.Architecture.Services/SiplaceMonitoringServiceSecure"/>
    <add key="Asm.As.Oib.Monitoring.Service.MonitoringEndpointReliable" value="http://localhost:1405/Asm.As.Oib.Monitoring.Services.Architecture.Services/SiplaceMonitoringService/ReliableSecure"/>
    <add key="Asm.As.Oib.MaintenanceData.Proxy.ReceiverReliable" value="net.tcp://the_ClientHost:5555/Asm.As.Oib.MaintenanceDataTutorialApp.FromConfig"/>
    <add key="Asm.As.Oib.MaintenanceData.Proxy.SubscriptionManagerEndpoint" value="http://localhost:1405/Asm.As.Oib.WS.Eventing.Services/SubscriptionManagerSecure"/>
    <add key="Asm.As.Oib.Proxy.Servicelocator" value="http://localhost:1405/Asm.As.Oib.ServicelocatorSecure"/>
    <add key="Asm.As.Oib.Proxies.TcpPortSharingEnabled" value="false"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <!--***********************************************************************************************************-->
    <!--********************************* Used for OIB Client authentication **************************************-->
    <!--***********************************************************************************************************-->
    <!-- These Client certificate parameters are used in all proxies and the "ClientCertificateValue" 
         must be adapted to a certificate selected during OIB installation. Those can also be set in 
         source code using the proxy interface, but consider thereby these app.config settings will then be override.-->
    <!-- IMPOPRTANT: Use either Global or Proxy specific -->
    <!-- Option 1.) Global client authentication parameters, used for all proxies and channels -->
    <!--
    <add key="Asm.As.Oib.ClientCertificateValue" value="CN=ASM.SW.Client" />
    <add key="Asm.As.Oib.ClientCertificateStoreLocation" value="CurrentUser" />
    <add key="Asm.As.Oib.ClientCertificateStoreName" value="My" />
    <add key="Asm.As.Oib.ClientCertificateX509FindType" value="FindBySubjectDistinguishedName" />
    -->
    <!--***********************************************************************************************************-->
    <!-- Option 2.) Proxy specific client authentication parameters -->
    <!-- IMPORTANT: These settings overrides Global settings -->
    <!--
    <add key="Asm.As.Oib.Monitoring.Proxy.ClientCertificateValue" value="CN=ASM.SW.Client" />
    <add key="Asm.As.Oib.Monitoring.Proxy.ClientCertificateStoreLocation" value="CurrentUser" />
    <add key="Asm.As.Oib.Monitoring.Proxy.ClientCertificateStoreName" value="My" />
    <add key="Asm.As.Oib.Monitoring.Proxy.ClientCertificateX509FindType" value="FindBySubjectDistinguishedName" />
    -->
    <!--**************************************************************************************************************-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
