<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v2.0.50727" />
    <supportedRuntime version="v4.0" />
  </startup>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="wsHttpBindingBehavior" name="LineControlOibMesInterceptorTutorial.MesInterceptorWebService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsHttpBindingConfig" contract="www.siplace.com.OIB._2015._10.LineControlServer.Contracts.MESService.ILineControlMesInterceptor" />
        <endpoint address="/mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:34444/LineControlMesInterceptorService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpBindingConfig" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" bypassProxyOnLocal="true" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="false" allowCookies="false">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
          <reliableSession enabled="false" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <!--Replace localhost with the OIB Core Computer name-->
      <endpoint address="http://localhost:1405/Asm.As.oib.servicelocator" binding="wsHttpBinding" bindingConfiguration="wsHttpBindingConfig" contract="www.siplace.com.OIB._2008._05.ServiceLocator.Contracts.Service.IServiceLocator" name="OIB_ServiceLocator" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="wsHttpBindingBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>