<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Asm.As.Oib.SiplacePro.Proxy.Endpoint" value="net.tcp://localhost:9500/Asm.As.Oib.SiplacePro" />
    <add key="Asm.As.Oib.SiplacePro.Proxy.CallbackEndpointBase" value="net.tcp://localhost:5555/Asm.As.Oib.spi.testprinterprogramming" />
    <!--These are values a user can override if necessary (for info see MSDN for binding parameters), if not provided the defaults are used-->
    <add key="Asm.As.Oib.SiplacePro.Proxy.OpenTimeout" value="00:01:00" />
    <add key="Asm.As.Oib.SiplacePro.Proxy.SendTimeout" value="00:01:00" />
    <add key="Asm.As.Oib.SiplacePro.Proxy.ReceiveTimeout" value="Infinite" />
    <add key="Asm.As.Oib.SiplacePro.Proxy.CloseTimeout" value="00:01:00" />
    <add key="Asm.As.Oib.SiplacePro.Proxies.ReliableChannel.MaxNumberOfRetryAttempts" value="30" />
    <add key="Asm.As.Oib.SiplacePro.Proxies.ReliableChannel.RetryFrequency" value="2000" />
    <!--This is the interval in ms when the proxy checks the connection to the Service,
    it must be greater or equal to 1000ms; if this is not present, a default value of 1 minute is used -->
    <add key="Asm.As.Oib.SiplacePro.Proxies.ReliableChannel.CheckAliveFrequency" value="60000" />
    <!--This is the endpoint address for the SubscriptionManager-->
    <add key="Asm.As.Oib.SiplacePro.Proxies.SubscriptionManagerEndpoint" value="net.tcp://localhost:1406/Asm.As.Oib.WS.Eventing.Services/SubscriptionManager" />
    <!--If this is set to false, the client callback services will not use the tcp port sharing.
    By default (if not specified), this is true-->
    <add key="Asm.As.Oib.Proxies.TcpPortSharingEnabled" value="false" />
    <!--If TcpPortSharingEnabled is set to false, you can restrict the tcp ports being used by this setting.
    Used ports will start at the given port of the Callback Base up to the base port number + this number.
    If set to 0 (default), the number is unlimited-->
    <add key="Asm.As.Oib.Proxies.TcpPortBandwidth" value="100" />
    <add key="Asm.As.Oib.SiplacePro.LineControl.Proxy.Endpoint" value="net.tcp://localhost:1406/Asm.As.Oib.SiplacePro.LineControl/Reliable" />
    <add key="Asm.As.Oib.SiplacePro.LineControl.Proxy.CallbackEndpointBase" value="net.tcp://localhost:1406/Asm.As.Oib.lc.testprinterprogramming" />
  </appSettings>
  <!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Warning, ActivityTracing" propagateActivity="true">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="d:\TracesSiplaceProTestApp.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>