<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Configuration Manager Settings -->
    <add key="Asm.As.Oib.ConfigurationManager.Proxy.Endpoint" value="net.tcp://localhost:1406/Asm.As.Oib.ConfigurationManager" />
    <add key="Asm.As.Oib.ConfigurationManager.Proxy.CallbackEndpointBase" value="net.tcp://localhost:1599/Asm.As.Oib.cmproxycallback/FCSmartProxyDemoApp" />
    <add key="Asm.As.Oib.ConfigurationManager.Proxy.UseSecureEndpoints" value="true" />
    <!--These are values a user can override if necessary (for info see MSDN for binding parameters), if not provided the defaults are used-->
    <add key="Asm.As.Oib.ConfigurationManager.Proxy.OpenTimeout" value="00:00:10" />
    <add key="Asm.As.Oib.ConfigurationManager.Proxy.SendTimeout" value="00:01:00" />
    <add key="Asm.As.Oib.ConfigurationManager.Proxy.ReceiveTimeout" value="Infinite" />
    <add key="Asm.As.Oib.ConfigurationManager.Proxy.CloseTimeout" value="00:01:00" />
    <!--The Service Locator Settings -->
    <!--<add key="Asm.As.Oib.ServiceLocator.Endpoint" value="net.tcp://localhost:1406/ASM.AS.OIB.servicelocator/Reliable" />
		<add key="Asm.As.Oib.ServiceLocator.OpenTimeout" value="00:00:10" />
		<add key="Asm.As.Oib.ServiceLocator.SendTimeout" value="00:01:00" />
		<add key="Asm.As.Oib.ServiceLocator.ReceiveTimeout" value="Infinite" />
		<add key="Asm.As.Oib.ServiceLocator.CloseTimeout" value="00:10:00" />-->
    <!--This is the endpoint address for the Factory Calendar -->
    <add key="Asm.As.Oib.FactoryCalendar.Proxy.FactoryCalendarEndpoint" value="net.tcp://localhost:1406/Asm.As.Oib.FactoryCalendar.ServiceImplementation/FactoryCalendarSecure" />
    <add key="Asm.As.Oib.FactoryCalendar.Proxy.OpenTimeout" value="00:00:20" />
    <add key="Asm.As.Oib.FactoryCalendar.Proxy.SendTimeout" value="00:01:00" />
    <add key="Asm.As.Oib.FactoryCalendar.Proxy.ReceiveTimeout" value="Infinite" />
    <add key="Asm.As.Oib.FactoryCalendar.Proxy.CloseTimeout" value="00:01:00" />
    <!--Callback configuration parameters -->
    <add key="Asm.As.Oib.FactoryCalendar.Proxy.CallbackEndpointBase" value="net.tcp://localhost:1429/Asm.As.Oib.fcproxycallback/FCSmartProxyDemoApp" />
    <add key="Asm.As.Oib.FactoryCalendar.Proxy.CallbackOpenTimeout" value="00:00:20" />
    <add key="Asm.As.Oib.FactoryCalendar.Proxy.CallbackSendTimeout" value="00:01:00" />
    <add key="Asm.As.Oib.FactoryCalendar.Proxy.CallbackReceiveTimeout" value="Infinite" />
    <add key="Asm.As.Oib.FactoryCalendar.Proxy.CallbackCloseTimeout" value="00:01:00" />
    <add key="Asm.As.Oib.Proxies.TcpPortSharingEnabled" value="false" />
    <add key="Asm.As.Oib.Proxies.TcpPortBandwidth" value="1000" />
    <!--Subscription Manager Settings -->
    <add key="Asm.As.Oib.FactoryCalendar.Proxy.SubscriptionManagerEndpoint" value="net.tcp://localhost:1406/Asm.As.Oib.WS.Eventing.Services/SubscriptionManagerSecure" />
    <add key="Asm.As.Oib.FactoryCalendar.Proxy.SubscriptionUpdateFrequency" value="5000" />
    <add key="Asm.As.Oib.Proxies.ClientStatusCallbackPort" value="1477" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>