<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="wsHttpBindngBehavior" name="BGKOibTutorial.BoardNotificationWebService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:33334/BoardNotification"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsHttpBindingConfig" contract="www.siplace.com.OIB._2011._07.BoardGateKeeper.Contracts.Service.IBoardNotification"/>
      </service>
    </services>
    <client>
      <endpoint address="http://localhost:9800/ASM.AS.Siplace.BoardNotificationServer" binding="wsHttpBinding" bindingConfiguration="wsHttpBindingConfig" contract="www.siplace.com.OIB._2011._07.BoardGateKeeper.Contracts.Service.IBoardNotificationServer"/>
    </client>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpBindingConfig" closeTimeout="00:00:10" openTimeout="00:00:10" receiveTimeout="infinite" sendTimeout="00:10:00" bypassProxyOnLocal="true" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="false" allowCookies="false">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None"/>
          <reliableSession enabled="false"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="wsHttpBindngBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
