<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultBehavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:12346"/>
          <serviceCredentials>
            <serviceCertificate findValue="CN=ASM.SW.Service" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectDistinguishedName"/>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_all" closeTimeout="00:00:10" openTimeout="00:00:10" receiveTimeout="infinite" sendTimeout="00:01:00" bypassProxyOnLocal="true" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="false" allowCookies="false">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None"/>
        </binding>
        <binding name="wsHttpBindingSecure" closeTimeout="00:00:10" openTimeout="00:00:10" receiveTimeout="infinite" sendTimeout="00:01:00" bypassProxyOnLocal="true" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="false" allowCookies="false">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="Message">
            <message clientCredentialType="None"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="DefaultBehavior" name="TraceabilitySyncInterfaceTutorial.TraceabilitySyncService">
        <endpoint address="http://localhost:12346/ASM.TraceabilityClient.CallbackService" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_all" contract="www.siplace.com.OIB._2016._05.Traceability.Contracts.CallbackService.ITraceabilityDataCallback"/>
        <endpoint address="http://localhost:12346/ASM.TraceabilityClient.CallbackService/Secure" binding="wsHttpBinding" bindingConfiguration="wsHttpBindingSecure" contract="www.siplace.com.OIB._2016._05.Traceability.Contracts.CallbackService.ITraceabilityDataCallback"/>
        <endpoint address="http://localhost:12346/ASM.TraceabilityClient.CallbackService/mex" binding="mexHttpBinding" name="ASM.TraceabilityClient.CallbackService" contract="IMetadataExchange"/>
      </service>
    </services>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
