<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Asm.As.Oib.DisplayService.Proxy.CallbackIdentifier" value="TestClient" />
    <add key="Asm.As.Oib.DisplayService.Proxy.CallbackPort" value="3006" />
    <add key="Asm.As.Oib.DisplayService.Proxy.ServicePortNumber" value="1406" />
    <add key="Asm.As.Oib.DisplayService.Proxy.ServiceComputerName" value="localhost" />
    <add key="Asm.As.Oib.DisplayService.Proxy.ReceiveTimeout" value="01:00:00" />
    <add key="Asm.As.Oib.DisplayService.Proxy.CloseTimeout" value="00:00:10" />
    <add key="Asm.As.Oib.DisplayService.Proxy.OpenTimeout" value="00:00:10" />
    <add key="Asm.As.Oib.DisplayService.Proxy.SendTimeout" value="00:03:00" />
    <add key="Asm.As.Oib.DisplayService.Proxy.UnregisterOnDisposeFinalize" value="false" />
    <add key="Asm.As.Oib.Proxies.TcpPortSharingEnabled" value="false" />
    <!--Use secure endpoints to activate secure communication to OIB-->
    <add key="Asm.As.Oib.DisplayService.Proxy.UseSecureEndpoint" value="true" />
    <!--***********************************************************************************************************-->
    <!--********************************* Used for OIB Client authentication **************************************-->
    <!--***********************************************************************************************************-->
    <!-- These Client certificate parameters are used in all proxies and the "ClientCertificateValue" 
         must be adapted to a certificate selected during OIB installation. Those can also be set in 
         source code using the proxy interface, but consider thereby these app.config settings will then be override.-->
    <!-- IMPOPRTANT: Use either Global or Proxy specific -->
    <!-- Option 1.) Global client authentication parameters, used for all proxies and channels -->
    <!--
    <add key="Asm.As.Oib.ClientCertificateValue" value="CN=ASM.SW.Client" />
    <add key="Asm.As.Oib.ClientCertificateStoreLocation" value="CurrentUser" />
    <add key="Asm.As.Oib.ClientCertificateStoreName" value="My" />
    <add key="Asm.As.Oib.ClientCertificateX509FindType" value="FindBySubjectDistinguishedName" />
    -->
    <!--***********************************************************************************************************-->
    <!-- Option 2.) Proxy specific client authentication parameters -->
    <!-- IMPORTANT: These settings overrides Global settings -->
    <!--
    <add key="Asm.As.Oib.DisplayService.Proxy.ClientCertificateValue" value="CN=ASM.SW.Client" />
    <add key="Asm.As.Oib.DisplayService.Proxy.ClientCertificateStoreLocation" value="CurrentUser" />
    <add key="Asm.As.Oib.DisplayService.Proxy.ClientCertificateStoreName" value="My" />
    <add key="Asm.As.Oib.DisplayService.Proxy.ClientCertificateX509FindType" value="FindBySubjectDistinguishedName" />
    -->
    <!--**************************************************************************************************************-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>