<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Asm.As.EDM.API.DataTransfer.Proxy.UseSecureEndpoints" value="false" />
  </appSettings>
  <!-- The endpoints to use may be adjusted in your application's app.config. Use with caution!
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="certificateEndpointBehavior">
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="None" revocationMode="NoCheck"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_DataTransfer">
          <reliableSession inactivityTimeout="24.20:31:23.6470000" enabled="true" />
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_DataTransfer1">
          <reliableSession inactivityTimeout="24.00:00:00" enabled="true" />
          <security>
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_DataTransfer">
          <reliableSession inactivityTimeout="24.00:00:00" />
          <security mode="None" />
        </binding>
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint name="netTcpBinding_EdmDataTransferApiService_Endpoint"
                address="net.tcp://<hostname of the EDM master>:9005/Asm.As.Siplace.Edm.DataTransfer.Api"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_DataTransfer"
                contract="Asm.As.EDM.API.DataTransfer.IEdmDataPush"  />
      <endpoint
          name="netTcpBinding_EdmDataTransferApiService_Endpoint_Secure"
          address="net.tcp://<hostname of the EDM master>:9005/Asm.As.Siplace.Edm.DataTransfer.Api/Secure"
          behaviorConfiguration="certificateEndpointBehavior"
          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_DataTransfer1"
          contract="Asm.As.EDM.API.DataTransfer.IEdmDataPush">

        <identity>
          <dns value="ASM.SW.Service" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>